# Carpetas de compilación
target/

# Archivos de NetBeans o IDEs
nbproject/private/
.idea/
*.iml
*.log

# Archivos temporales
*.class
*.tmp
*.bak
.DS_Store

# Configuración de sistema
.settings/
.classpath
.project
